@import '~@react-md/theme/dist/color-palette';
$rmd-theme-light: true;
$rmd-theme-primary: $rmd-purple-500;
$rmd-theme-secondary: $rmd-pink-a-400;
$rmd-theme-warning: $rmd-deep-orange-a-200;
$rmd-theme-error: $rmd-red-500;
$rmd-theme-success: $rmd-green-a-700;
$rmd-theme-light-background: #e8f1f2;
$rmd-theme-light-surface: #fff;
$rmd-theme-dark-background: #303030;
$rmd-theme-dark-surface: $rmd-grey-800;
